body {
	width: 100%;
	margin: 0;
}

.header-content {
	max-width: 1300px;
	min-width: 320px;
/*	border: solid;*/
	width: 69%;
	margin: 0 auto;
	margin-top: 10px;
	height: 70px;
}

.login-button {
	float: right;
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	color: #FFFFFF;
	background-color: #2A5275;
	padding: 16px 26px;
	border-radius: 4px;
	border: none;
	margin-top: 6px;
}

.header-svgs {
	float: right;
	margin-top: 6px;
	margin-right: 20px;
}

.header-search span {
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #838688;
}

.header-search {
	float: right;
	display: flex;
	margin: 20px 15px 0 0;
	width: ;
}

.header-search-svg1 {
	margin-right: 10px;
	margin-top: -3px;
}

.header-search-svg2 {
	float: right;
	margin-top: 40px;
	position: relative;
	left: 95px;
	bottom: 7px;
}

.header-info {
	float: right;
	margin-top: 22px;
}

.header-info a{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	color: #070C11;
	text-decoration: none;
	position: relative;
	left: 25px;
	margin-left: 20px;
}

.header-info span{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	color: #838688;
	position: relative;
	left: 40px;
}

@media (max-width: 1740px) {
	.header-info {
		display: none;
	}
}

@media (max-width: 1000px) {
	.header-svg-cart {
		display: none;
	}

	.header-search {
		display: none;
	}

	.navbar-content {
		display: none;
	}
}

@media (max-width: 500px) {
	.header-svgs {
		display: none;
	}
}

main {
/*	border: solid;*/
	height: fit-content;
	width: 70%;
	margin: 530px auto 0 auto;
	max-width: 1300px;
	min-width: 320px;
}

.navbar {
	border: solid;
	background-color: #0E1821;
	height: 53px;
}

.navbar-content {
	width: 100%;
	margin: 3px auto 0 auto;
	max-width: 1300px;
	min-width: 320px;
}

.navbar-ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	float: right;
	max-width: 890px;
	margin-right: 135px;
	padding-left: 0;
}

.navbar-ul li a{
	color: white;
	text-decoration: none;
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	padding: 20px 18.6px;
	transition: .15s all;
}

.navbar-ul li a:hover {
	background-color: #335271;
	text-shadow: white 1px 0 10px;;
}

@media (max-width: 1902px) {
	.navbar-ul li a {
		font-size: 13px;
	}
}

@media (max-width: 1657px) {
	.header-content {
		width: 96%;
	}

	main {
		width: 96%;
	}

	.navbar-content {
		width: 100%;
		margin: 0px auto 20px auto;
	}

	.navbar {
		height: 50px;
	}
}

.navbar-catalog-ul {
	list-style-type: none;
	padding-left: 0;
	border-radius: 10px;
	width: 325px;
	margin: 0;
	position: relative;
	bottom: 50px;
}

.navbar-catalog-ul li {
	position: relative;
	bottom: 6px;
	width: 295px;
}

.navbar-catalog-ul li a, 
.navbar-catalog-ul li span{
	text-decoration: none;
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;
	color: black;
	background-color: #EDF2F6;
	padding: 8.4px 15px;
	width: 295px;
/*	border: solid;*/
	display: flex;
	align-items: center;
	transition: .1s all;
}

.navbar-catalog-ul li a:hover {
	background-color: #DAE4ED;
	text-shadow: #808080 0px 0 2px;
}

.navbar-catalog-ul li span{
	color: white;
	background-color: #243C53;
	height: 42px;
}

@media (max-width: 1657px) {
	.navbar-catalog-ul li span{
		height: 38px;
		margin-top: 3px;
	}
}

.navbar-catalog-ul li:nth-child(12) a:nth-child(1) {
	border-radius: 0 0 10px 10px;
}


.navbar-catalog-ul img{
	margin-right: 13px;
}


@media (max-width: 1280px) {
	.navbar-catalog-ul {
		display: none;
	}

	.navbar-ul {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	.navbar-collection {
		margin: 0 auto;
	}	
}

@media (max-width: 1000px) {
	.navbar {
		display: none;
	}
}

.navbar-collection {
	display: flex;
	width: fit-content;
	height: fit-content;
}

.slider {
	position: relative;
	top: 15px;
	left: 10px;
}

.mySwiper {
	width: 970px;
	overflow: hidden;
}

.swiper-wrapper {
/*	gap: 10px;*/
}

.swiper-pagination {
	margin-bottom: 68px;
}


.asd {
	display: none;
	width: 100%;
}

@media (max-width: 1280px) {
	.swiper-pagination {
	margin-bottom: 0;
	}
}


.swiper-pagination-bullet {
      width: 185px;
      height: 150px;
      opacity: .7;
      background: rgba(0, 0, 0, 0);
      border-radius: 0;
      border-bottom: 3px solid #C8CACB;
}

      .swiper-pagination-bullet-active {
        opacity: 1;
        background: rgba(0, 0, 0, 0);
        border-bottom: 3px solid #EDF2F6;
}

@media (max-width: 1000px) {
	.swiper {
		width: 90%;
	}

	.asd {
		display: block;
	}

	.asd img{
		width: 100%;
	}

	.swiper-pagination-bullet {
		width: 16%;
		height: 100px;
	}
}

@media (max-width: 610px) {
	.swiper-pagination-bullet {
		height: 30px;
	}
}
